h1 {

    color: steelblue;
    text-align: center;
}

p {
    color: slateblue;

}

.menu {
    position: fixed;
    top: 0;
    background-color: aquamarine;
    width: 100%;
    left: 0;
}

.menu a{

    display: inline;
    color: red;
    /* float: left; */
    /* font-size: large; */
    text-align: center;
    padding: 14px 16px;

}


/* Links */

/* a:link {

    color: slateblue

}

a:visited {

    color: steelblue;

} */

a:hover {

    text-decoration: dotted rgb(0, 76, 139) underline;

}





