body {
    padding: 0;
}

.menu {
    overflow: hidden;
    position: fixed;
    top: 0;
    background-color: rgb(123, 148, 173);
    width: 100%;
    left: 0;
}

.menu a {

    display: block;
    color: black;
    float: left;
    font-size: .9em;
    padding: 1.3%;
    text-decoration-line: none;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.menu a:hover {
    background-color: rgb(138, 182, 212);
}

.currentPage {
    text-decoration-line: underline !important;
    text-decoration-color: black;
    color: red;
    text-decoration-style: solid;
    text-decoration-thickness: 2px;
    background-color:  rgb(138, 182, 212);

}

.header {

    background-color: aqua;
    position: static;
    margin-top: 47px;
    width: 100%;
    height: 200px;
    padding: 0;
    margin: 0;
    left: 0;

}

h1 {

    color: rgb(138, 182, 212);
    text-align: center;
    /* padding-top: 5%; */
}

hr{

    border: 5px solid rgb(138, 182, 212);
    border-radius: 5px;

}
.gradPic {
    width: 15%;
    float: right;
    padding: 50px 50px;
    border-radius: 200px;
}



